body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  justify-content: space-evenly;
}

h2 {
  text-align: center; 
}
